body
{
	margin-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
	background: #EEEEEE;
}

h1
{
	margin-top: -30px;
	color: #C0C0C0;
	size: 1px;
	font-size: 20px;
}

h2
{
	color: #222222;
	font-size: 16px;
	margin-bottom: 0px;
}

h3
{
	color: #C0C0C0;
	size: 1px;
	font-size: 20px;
}

#Form
{
	border:#E2E2E2 1px solid;
	width: 505px;
	height: 335px;
	margin-left: auto ;
	margin-right: auto ;
	border-radius: 10px 10px 10px 10px;
	box-shadow: rgba(0,0,0,0.5) 0px 10px 10px -2px;
	box-shadow: 0px 3px 8px -1px;
	box-shadow: 0px 3px 8px -1px;

	background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 54%, #FFFFFF 77%, #F0F0F0 89%, #EBEBEB 95%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 54%, #FFFFFF 77%, #F0F0F0 89%, #EBEBEB 95%);
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 54%, #FFFFFF 77%, #F0F0F0 89%, #EBEBEB 95%);
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 54%, #FFFFFF 77%, #F0F0F0 89%, #EBEBEB 95%);

	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(0.54, #FFFFFF),color-stop(0.77, #FFFFFF),
																						  color-stop(0.89, #F0F0F0),color-stop(0.95, #EBEBEB));																				  
	background-image: linear-gradient(top, #FFFFFF 0%, #FFFFFF 54%, #FFFFFF 77%, #F0F0F0 89%, #EBEBEB 95%);
}
.boxes
{
	width: 200px;
	height: 25px;
}

#button
{
	width: 100px;
	height: 35px;
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
}

#padding
{
	margin-top: 0px;
	padding: 35px;
}


.shadow {
	-moz-box-shadow: 0 0 30px 5px #999;
	-webkit-box-shadow: 0 0 30px 5px #999;
}

#logo
{
	float: right;
	width: 110px;
	height: 80px;
}

